{% extends "base.html" %}

{% block main_content %}
<style>
    /* Background image */
    body {
        background-image: url('/media/backgrounds/nails_catalog/top-view-flowers-with-copy-space.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<main class="container mt-4">
    <div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
        <div class="et_pb_text_inner">
            <h1 style="text-align: center;">Welcome to Bogi's Nails World!</h1>
        </div>
        <hr>
        <div class="et_pb_text_inner">
            <h2 style="text-align: center;">2018 People’s Choice Award Winner!</h2>
        </div>
    </div>
    <h2>- Current Login Profile: <hr><strong>{{ request.user }}</strong>-</h2>
    <!-- Additional content goes here -->

    <!-- Artist Information Section -->
    <section class="artist-info mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>About the Artist</h3>
                    <p><p>Meet our talented artist, Bogi! With over 10 years of experience in the nail art industry, Bogi brings creativity, precision, and passion to every design. Known for her attention to detail and innovative techniques, Bogi has established herself as a leading figure in the world of nail art. From classic manicures to intricate nail designs, Bogi's dedication to her craft shines through in every appointment.</p>
                </p>
                </div>
                <div class="col-md-6">
                    <h3>Artist's Certificates</h3>
                    <p>Bogi is proud to hold multiple certifications and awards in the field of nail artistry. She has completed advanced training programs with renowned nail technicians and educators, earning certifications in nail sculpting, nail artistry, and product knowledge. Bogi's commitment to continuous learning and professional development ensures that she stays at the forefront of industry trends and techniques, providing her clients with the highest quality of service and expertise.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Artist Photo Section -->
    <section class="artist-photo mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Artist's Photo</h3>
                    <p>Add artist's photo here...</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
