{% extends "base.html" %}

{% load static %}

{% block main_content %}

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <!-- Content Section -->
    <main class="container mt-4">
        <!-- Contact Information Section -->
        <section class="section">
            <div class="container">
                <div class="row">
                    
                    <img src="{% static 'media/price_list/nails_price_list.png' %}" alt="Nails Price List" class="img-fluid">
                    
                </div>
            </div>
        </section>
    </main>
</body>

{% endblock %}


