{% extends "base.html" %}

{% load static %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/account/details_account.css' %}">
     {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://kit.fontawesome.com/367278d2a4.css"> {% endcomment %}

    
    <body class="p-3 m-0 border-0 bd-example m-0 border-0">
        <!-- Profile Section -->
        <main class="container mt-4">
            <!-- Profile Information Section -->
            <section class="section">
                <h1 class="section-title text-left">Profile of {{ object.full_name }}</h1>
                <hr>

                <div class="row">
                    <!-- Move the navigation to the left side on larger screens -->
                    <div class="col-lg-4">
                        <div class="hidden lg:block">
                            <nav class="woocommerce-MyAccount-navigation lg:mt-12 aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos-duration="500">
                                <ul class="lg:w-fit">
                                    <br>
                                        <a class="text-decoration-none" href="#">
                                            <i class="fa-light fa-bookmark fa-2x" style="color: #000000; margin-right: 5px;"></i>
                                            <span class="ml-2" style="font-weight: bold; font-size: 2rem; color: #000000;">Collection</span>
                                        </a>
                                    <hr>
                                        <a class="text-decoration-none" href="#">
                                            <i class="fa-light fa-cart-shopping fa-2xl" style="color: #000000; margin-right: 5px;"></i>
                                            <span class="ml-2" style="font-weight: bold; font-size: 2rem; color: #000000;">Orders</span>
                                        </a>
                                    <hr>
                                    <a class="text-decoration-none" href="{% url "edit account" pk=object.pk %}">
                                        <i class="fa-light fa-user fa-2x" style="color: #000000; margin-right: 5px;"></i>
                                        <span class="ml-2" style="font-weight: bold; font-size: 2rem; color: #000000;">Edit Profile</span>
                                    </a>
                                    <hr>
                                </ul> 
                            </nav>
                        </div>    
                    </div>

                    <!-- Profile details on the right side -->
                    <div class="col-lg-8">
                        <div class="profile-container">
                            <!-- Profile picture -->
                            <div class="profile-picture">
                                {% if object.profile.profile_picture %}
                                    <img src="{{ object.profile.profile_picture.url }}" class="img-fluid" alt="{{ object.username }}">
                                {% else %}
                                    <h3 class="no-image-placeholder"><strong>No Profile Image Available</strong></h3>
                                    <img src="/media/account_picture/default_account_picture.jpg" class="img-fluid" alt="{{ object.username }}">
                                {% endif %}
                            </div>
                        
                            <!-- Profile information -->
                            <div class="profile-info">
                                <h2>{{ object.first_name }} {{ object.last_name }}</h2>
                                <p>Email: <strong>{{ object.email }}</strong></p>
                                <p>Birth Date: <strong>{{ object.profile.birth_date }}</strong></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
{% endblock %}
