{% extends "base.html" %}

{% block main_content %}

<section id="product">
    <div class="container">
        <h1 class="section-title">Profile Details</h1>

        <div class="row">
            <div class="col-md-6 mb-4">
                {% if object.account_picture %}
                    <img src="{{ object.account_picture.url }}" class="img-fluid" alt="{{ object.username }}">
                {% else %}
                    <div class="no-image-placeholder">No Profile Image Available</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-text">{{ object.email }}</h2>
                    </div>
                    
                    <div class="card-body">
                        <p class="card-text">{{ object.first_name }}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ object.last_name }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="buttons">
                            <a href="#" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-primary" style="background-color: #dc3545;">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
