{% extends "base.html" %}

{% block main_content %}

    <main class="container mt-4">
        <!-- Login Section -->
        <section class="section">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1 class="text-center">Log in</h1>
                    <hr>
                                        
                    <form action="{% url 'login' %}?next={{ next }}" method="post">
                        {% csrf_token %}
                        {% comment %} <div class="mb-3">
                            {{ form.as_p }}
                        </div> {% endcomment %}
                        <div class="mb-3">
                            <label class="inline-block mb-2"><strong>Email</strong></label><br>
                            {{ form.username }}
                        </div>
            
                        <div class="mb-3">
                            <label class="inline-block mb-2"><strong>Password</strong></label><br>
                            {{ form.password }}
                        </div>
                    
                        <button type="submit" class="btn btn-primary">Log in</button>
                        <br></br>
                        Need an account?  <a href="{% url 'register' %}">Register</a>
                    
                    </form>

                </div>
            </div>
        </section>
    </main>
{% endblock %}

