{% extends "base.html" %}

{% block main_content %}

<main class="container mt-4">
    <!-- Edit Nails Section -->
    <section class="section">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Edit Nails</h1>
                <hr>
                <form method="post" enctype="multipart/form-data" action="{% url 'edit nails' pk=nails_design.pk %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label for="colors" class="form-label">Colors</label>
                        <select name="colors" id="colors" class="form-control">
                            {% for value, label in form.colors.field.choices %}
                                <option value="{{ value }}" {% if value == nails_design.colors %} selected {% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                        <small class="form-text text-muted">Choose new color for the nails</small> <!-- Help text -->
                    </div>
                    <div class="mb-3">
                        <label for="size" class="form-label">Size</label>
                        <select name="size" id="size" class="form-control">
                            {% for value, label in form.size.field.choices %}
                                <option value="{{ value }}" {% if value == nails_design.size %} selected {% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                        <small class="form-text text-muted">Select new size of the nails</small> <!-- Help text -->
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        {{ form.image }}
                        <small class="form-text text-muted"><br>Upload a new image for the nails</br></small> <!-- Help text -->
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                    {% comment %} <button type="submit" class="btn btn-primary" style="background-color: #dc3545;">Delete</button> {% endcomment %}
                    <a href="{% url 'delete nails' pk=nails_design.pk %}" class="btn btn-primary" style="background-color: #dc3545;">Delete</a>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}