{% extends "base.html" %}

{% block main_content %}

<main class="container mt-4">
    <!-- Nails Details Section -->
    <section class="section">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Nails Details</h1>
                <hr>
                <!-- Display Nails Details -->
                <div class="mb-3">
                    <label for="title" class="form-label bold"><strong>Title</strong></label>
                    <p>{{ nails_design.title }}</p>
                </div>
                <hr>
                <div class="mb-3">
                    <label for="colors" class="form-label bold"><strong>Color</strong></label>
                    <p>{{ nails_design.colors }}</p>
                </div>
                <hr>
                <div class="mb-3">
                    <label for="size" class="form-label bold"><strong>Size</strong></label>
                    <p>{{ nails_design.size }}</p>
                </div>
                <hr>
                <div class="mb-3">
                    <label for="created_at" class="form-label bold"><strong>Created At</strong></label>
                    <p>{{ nails_design.created_at }}</p>
                </div>
                <hr>
                <div class="mb-3">
                    <label for="image" class="form-label bold"><strong>Image</strong></label>
                    <img src="{{ nails_design.image.url }}" alt="{{ nails_design.title }}" class="img-fluid">
                </div>
                <hr>
                <a href="{% url 'edit nails' pk=nails_design.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete nails' pk=nails_design.pk %}" class="btn btn-primary" style="background-color: #dc3545;">Delete</a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
