{% extends "base.html" %}

{% block main_content %}

<main class="container mt-4">
    <section class="section">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Add Product</h1>
                <hr>
                <form method="post" action="{% url 'add product' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        {{ form.price }}
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        {{ form.quantity }}
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        {{ form.image }}
                        <small class="form-text text-muted"><br>Upload an image for the product</br></small>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}