{% extends "base.html" %}

{% load static %}

{% block main_content %}
<section id="product">
    <div class="container">
        <h1 class="section-title">Product Details</h1>

        <div class="row">
            <div class="col-md-6 mb-4">
                {% if object.image %}
                <img src="{{ object.image.url }}" class="img-fluid" alt="{{ object.title }}">
                {% else %}
                <div class="no-image-placeholder">No Image Available</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-text">{{ object.title }}</h2>
                    </div>
                    <div class="card-footer">
                        <p class="price">Price: {{ object.price }}</p>
                        {% if object.quantity %}
                            <p class="quantity">In Stock: <strong>{{ object.quantity }}</strong></p>
                        {% else %}
                            <p class="out-of-stock"><strong>Out of Stock</strong></p>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ object.description }}</p>
                    </div>

                <br/>
                <div class="row justify-content-center">
                    <div class="col-md-2">Quantity:</div>
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" id="qty-cart">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <br/>

                {% if request.user.is_authenticated %}
                    <button type="button" value="{{ object.id }}" class="btn btn-secondary" id="add-cart">Add To Cart</button>
                {% endif %}
                <a href="{% url 'products'%}" class="btn">Back to Products</a>
                
                    <div class="card-footer">
                        {% if request.user.is_authenticated %}
                            {% if perms.product.change_product and perms.product.delete_product %}
                                <div class="buttons">
                                    <a href="{% url 'edit product' pk=object.pk %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'delete product' pk=object.pk %}" class="btn btn-primary" style="background-color: #dc3545;">Delete</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // Check if button pressed
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart add' %}',
        data: {
    product_id: $('#add-cart').val(),
    product_qty: $('#qty-cart option:selected').text(),
    csrfmiddlewaretoken: '{{ csrf_token }}',
    action: 'post'
        },

        success: function(json){
            //console.log(json)
            document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }


    });



})
</script>

{% endblock %}