{% extends "base.html" %}

{% load static %}

{% block main_content %}
<section id="product">
    <div class="container">
        <h1 class="section-title">Product Details</h1>

        <div class="row">
            <div class="col-md-6 mb-4">
                {% if object.image %}
                <img src="{{ object.image.url }}" class="img-fluid" alt="{{ object.title }}">
                {% else %}
                <div class="no-image-placeholder">No Image Available</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-text">{{ object.title }}</h2>
                    </div>
                    <div class="card-footer">
                        <p class="price">Price: {{ object.price }}</p>
                        {% if object.quantity %}
                            <p class="quantity">In Stock: <strong>{{ object.quantity }}</strong></p>
                        {% else %}
                            <p class="out-of-stock"><strong>Out of Stock</strong></p>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ object.description }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="buttons">
                            <a href="{% url 'edit product' pk=object.pk %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete product' pk=object.pk %}" class="btn btn-primary" style="background-color: #dc3545;">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
