{% extends "base.html" %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'product/products.css' %}">
{% endblock %}

{% block main_content %}
<section id="catalogue">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mt-4 mb-3">Products for Care</h2>
            </div>
            {% if request.user.is_authenticated %}
                <div class="col-md-6 text-end">
                    <a href="{% url 'add product' %}" class="btn btn-primary mt-4 mb-3">Add Product</a>
                </div>
            {% endif %}
        </div>

        <div class="row">
            {% for product in object_list %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                    {% else %}
                    <div class="no-image-placeholder">No Image Available</div>
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'details product' pk=product.pk %}" class="btn link">
                            <h5 class="card-title"><strong>{{ product.title }}</strong></h5>
                        </a>                        
                    </div>
                    <div class="card-footer">
                        <p class="price">Price: {{ product.price }}</p>
                        <!-- Add more details or buttons if needed -->
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No Available Products</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
