{% extends "base.html" %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product/products.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'BogisNails/bogis_nails/static/css/product/products.css' %}">
{% endblock %}

{% block main_content %}
<section id="catalogue">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mt-4 mb-3">Products for Care</h2>
                <hr>
            </div>
            
            {% if request.user.is_authenticated %}
                {% if perms.product.add_product %}
                    <div class="col-md-6 text-end">
                        <a href="{% url 'add product' %}" class="btn btn-primary mt-4 mb-3">Add Product</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="row">
            {% for product in object_list %}
                <div class="col-md-4 mb-4">
                    <div class="card position-relative">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                        {% else %}
                        <div class="no-image-placeholder">No Image Available</div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ product.title }}</strong></h5>
                            <hr/>
                            {% if product.is_sale %}
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                <div class="text-center">
                                    <!-- Sale -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        &nbsp;&nbsp;<strong>Sale!</strong>&nbsp;&nbsp;
                                        {% comment %} &nbsp;&nbsp;<span class="sale-text">Sale!</span>&nbsp;&nbsp; {% endcomment %}
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <strike>$<strong>{{ product.price }}</strong></strike>
                                    &nbsp;$<strong>{{ product.sale_price }}</strong>
                                </div>
                            {% else %}
                                <!-- Regular Product price -->
                                <div class="text-center">
                                    <p class="price">$<strong>{{ product.price }}</strong></p>
                                </div>
                            {% endif %}
                        </div>
                        <a href="{% url 'details product' pk=product.pk %}" class="btn btn-secondary">View Product</a>
                    </div>
                </div>            
            {% empty %}
                <p>No Available Products</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
