{% extends "base.html" %}

{% block main_content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found - Bogi's Nails World</title>
    <link rel="stylesheet" href="{% static 'css/404/404.css' %}">
</head>
<body>
    <div class="error-container">
        <h1>404</h1>
        <p>Oops! The page you're looking for does not exist.</p>
        <a href="{% url 'index' %}" class="btn">Go Back to Home</a>
    </div>
</body>
{% endblock %}