/* Background image */
body, .navbar {
    background-image: url('/media/backgrounds/nails_catalog/top-view-flowers-with-copy-space.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Set text color to #084041 when hovering over non-button links */
.navbar-nav .nav-link:not(.btn):hover {
    color: #b76e79;
}

/* Reset background color when hovering over non-button links */
.navbar-nav .nav-link:not(.btn):hover {
    background-color: transparent;
}

/* Logo styles */
.navbar-brand img {
    max-width: 150px;
    height: auto;
}


/* Styles from header.css */
body {
    background-image: url('/media/backgrounds/nails_catalog/top-view-flowers-with-copy-space-contacts.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

main {
    min-height: calc(100vh - 60px);
}

.text-center {
    text-align: center;
}

.section {
    padding: 200px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section:not(:last-child) {
    margin-bottom: 20px;
}

.btn-primary {
    color: #f3b6b6;
    background-color: #084041;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #56887d;
}

.btn-primary:active {
    background-color: #f3b6b6;
}

.btn-secondary {
    color: #f3b6b6;
    background-color: #084041;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #56887d;
}

/* Sticky footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c9a17a;
    color: #343a40;
    padding: 8px 20px;
    text-align: center;
}

/* Additional styles from header2.css */
._1286nb12u3 {
    justify-content: flex-end;
}

._1286nb12t9 {
    align-items: center;
}

._1286nb11w3 {
    margin-left: .9375rem;
}

._1286nb11h9 {
    margin-right: .625rem;
}

._1286nb18l {
    display: flex;
}

._1286nb1n {
    flex: 1 1 auto;
}

/* Add this CSS to make the icons have the same color as other buttons */
.navbar-nav .nav-link .fa-light, 
.navbar-nav .nav-link .user-icon {
    color: #f3b6b6;
    cursor: pointer;
}

/* Add this CSS to handle the hover effect on the icons */
.navbar-nav .nav-link .fa-light:hover, 
.navbar-nav .nav-link .user-icon:hover {
    color: #56887d;
}

/* Add this CSS to handle the active state of the icons */
.navbar-nav .nav-link .fa-light:active, 
.navbar-nav .nav-link .user-icon:active {
    color: #f3b6b6;
}

