/* styles.css */

/* Background image */
body, .navbar {
    background-image: url('/media/backgrounds/nails_catalog/top-view-flowers-with-copy-space.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Set text color to #084041 when hovering over non-button links */
.navbar-nav .nav-link:not(.btn):hover {
    color: #b76e79; /* Change text color to #084041 */
}

/* Reset background color when hovering over non-button links */
.navbar-nav .nav-link:not(.btn):hover {
    background-color: transparent; /* Reset background color */
}

.navbar-nav .dropdown-item:hover {
    color: #b76e79; /* Change text color when hovering over dropdown items */
    background-color: transparent;
}

body {
    background-image: url('/media/backgrounds/nails_catalog/top-view-flowers-with-copy-space-contacts.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px; /* Adjust margin to accommodate footer height */
}

/* Style for main content */
main {
    min-height: calc(100vh - 60px); /* Subtracting footer height */
}

/* Center align text */
.text-center {
    text-align: center;
}

.section {
    padding: 200px;
    background-color: transparent; /* Set the background to transparent */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add margin-bottom to sections */
.section:not(:last-child) {
    margin-bottom: 20px;
}

/* Style buttons */
.btn-primary {
    color: #f3b6b6;
    background-color: #084041;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; /* Increased font size */
}

.btn-primary:hover {
    background-color: #56887d;
}

.btn-primary:active {
    background-color: #f3b6b6; /* Change background color when button is clicked */
}

.btn-secondary {
    color: #f3b6b6;
    background-color: #084041;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; /* Increased font size */
}

.btn-secondary:hover {
    background-color: #56887d;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #c9a17a;
    color: #343a40;
    padding: 8px 20px;
    text-align: center;
}



._1286nb12u3 {
    justify-content: flex-end;
}

._1286nb12t9 {
    align-items: center;
}

._1286nb11w3 {
    margin-left: .9375rem;
}

._1286nb11h9 {
    margin-right: .625rem;
}

._1286nb18l {
    display: flex;
}

._1286nb1n {
    flex: 1 1 auto;
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid;
}

User Agent Style Sheetaddress,
article,
aside,
div,
footer,
header,
hgroup,
main,
nav,
search,
section {
    display: block;
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid;
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid;
}

._1286nb1601,
._1286nb1607:hover,
._1286nb1608:focus,
._1286nb1609:disabled {
    color: rgb(var(--otnfkqq));
}

body {
    font-family: var(--font-sans);
    font-size: var(--otnfkq1u);
    -webkit-font-smoothing: antialiased;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}

User Agent Style Sheethtml {
    color: canvastext;
}