{% extends "base.html" %}

{% load static %}

{% block main_content %}

    
    <main>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FSofia&bgcolor=%23f4c2c2&showTz=0&showCalendars=0&showPrint=0&title=Bogi's%20Nails%20Schedule&src=NDQ3NzdkMGUxZDZjMzNlN2JhNDBhNjRiOTYyNWI2NWVhMDNmMjFhMDBjNzNkM2Q0ZmY5ZmYzODQ3NGI1YmY4MEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YmcuYnVsZ2FyaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23AD1457&color=%230B8043" style="border:solid 1px #777" width="700" height="600" frameborder="0" scrolling="no"></iframe>   
    </main>

   
{% endblock  %}
