/* Background image */
/* body {
    background-image: url('/media/backgrounds/nails_catalog/top-view-flowers-with-copy-space.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
