{% load static %}
<br/><br/><br/>
<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase"><strong>Follow Us:</strong></h5>
                <p>
                    <a href="https://www.instagram.com/boggi.nails/?igsh=ZWs0Y2xiZWJ6eXpv&utm_source=qr" class="text-dark me-2"><i class="fab fa-instagram"></i> Insta</a>
                    <a href="https://m.facebook.com/boggi.nails" class="text-dark me-2"><i class="fab fa-facebook-f"></i> FB</a>
                    <a href="https://www.tiktok.com/@bogdanavidenova?_t=8lNrKSPS9om&_r=1" class="text-dark"><i class="fab fa-tiktok"></i> TikTok</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase"><strong>Location:</strong></h5>
                <p>Sofia, Banishora</br>
                    <a href="https://www.google.com/maps/place/ж.к.+Банишора,+20,+1233+София/@42.7089033,23.3078404,17z/data=!3m1!4b1!4m6!3m5!1s0x40aa8559e850dfc1:0x5c8125a688ec2a0e!8m2!3d42.7088994!4d23.3104153!16s%2Fg%2F11c5c2btvq?entry=ttu" 
                        target="_blank"><strong>Google Maps</strong>
                    </a>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase"><strong>Contact:</strong></h5>
                <p>
                    <strong>Phone: </strong>+359 88 414 5733<br>
                    <strong>Email: </strong>some@gmail.com
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase"><strong>Open Hours:</strong></h5>
                <p>
                    Mon – Sat: 9:00 am – 7:00 pm<br>
                    Sun: 11:00 am – 5:00 pm
                </p>
            </div>
        </div>
        <hr class="my-4">

        <div class="text-center">
            <p>&copy; 2024 <a href="{% url 'index' %}" class="text-dark">Bogi's Nails World</a></p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
